*
!.bashrc
!.config
!.config/alacritty/
!.config/alacritty/*
!.config/bspwm/
!.config/bspwm/*
!.config/btop/
!.config/btop/*
!.config/btop/themes/
!.config/btop/themes/*
!.config/cava/
!.config/cava/*
!.config/fish/
!.config/fish/*
!.config/picom/
!.config/picom/*
!.config/polybar/
!.config/polybar/*
!.config/polybar/scripts/
!.config/polybar/scripts/*
!.config/rofi/
!.config/rofi/*
!.config/sxhkd/
!.config/sxhkd/*
!.config/betterlockscreenrc
!.gitignore
!.icons
!.icons/*
!.icons/*
!.icons/*/*
!.icons/*/*/*
!Scripts
!os_packages.txt